/* Sticky footer styles
-------------------------------------------------- */
#main {
  height: 100%;
}

html {
  position: relative;
  height: 100%;
}
body {
  margin-bottom: 60px; /* Margin bottom by footer height */
  height: 100%;
  background-color: #F4F5F1;
  font-family: 'Nunito', sans-serif;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #232D3D;
  text-align: center;
  color: #F4F5F1;
}

/*Inheritance*/
/*All jumbotrons will
have a background size like that*/
.JumboHeaderHome,
.JumboHeaderProfile, JumboHeaderView {
  background-size: cover;
}

/*Home Page Jumbotron Image*/
.JumboHeaderHome {
  background-image: url(/assets/jumbotronHome.jpg);
}

/*User Profile Jumbotron*/
.JumboHeaderProfile {
  background-image: url(jumbotron2.jpg);
}
/*View Profile Jumbotron*/
.JumboHeaderView{
  background-image: url(jumbotron3.jpg);

}
.login-cards {
  width: 300px;
}

.org-cards {
  max-width: 300px;
}

.card-deck {
  margin-left: 30px;
  margin-right: 30px;
}

.card-title {
  font-weight: bolder;
  margin-bottom: 0px;
}

.card-body {
  padding-top: 0px;
}

#registration {
  margin-bottom: 10rem !important;
}

#navbar {
  background-color: #232D3D;
  color: #F4F5F1;
}

.colorSchemeWhite {
  color: #F4F5F1
}

.colorSchemePink {
  color: #BE9991
}

.colorSchemeRed {
  color: #b22222
}

.colorSchemeBrown {
  color: #A58C73
}

.colorSchemeDarkBlue {
  color: #232D3D
}

.bgColorSchemeWhite {
  background-color: #F4F5F1
}

.bgColorSchemePink {
  background-color: #BE9991
}

.bgColorSchemeRed {
  background-color: #b22222;
}

.bgColorSchemeBrown {
  background-color: #A58C73
}

.bgColorSchemeDarkBlue {
  background-color: #232D3D
}

.btn-primary {
  border-color: #232D3D;
  background-color: #232D3D;
  color: #F4F5F1;
}

.btn-info {
  border-color: #415470;
  background-color: #415470;
  color: #F4F5F1;
}


.btn-primary:hover {
  background-color: #B22222;
  border: none;
  color: white;
}
.btn-primary:active{
  background: #232D3D;
  border: none;
}

.btn-primary:focus{
  background: #232D3D;
  border: none;
}

.img-size {
  height: 200px;
  width: 280px;
}

.img-thumbnail-dashboard {
  max-width: 75%;
  border: none;
  background-color: #F4F5F1 ;
}