{% extends 'base.html' %}
{% block title %}404{% endblock %}
{% block navbar %}
    {% if session['type'] == 'user' %}
        <li class="nav-item">
            <a class="nav-link" href="/"><i class="fas fa-home"></i> Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/dashboard"><i class="fas fa-book-open"></i> Dashboard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/userProfile"><i class="far fa-user"></i> My Profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/addItem"><i class="fas fa-hand-holding-usd"></i> Donate</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/items"><i class="fas fa-store"></i> My Items</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/orgs"><i class="far fa-building"></i> Organizations</a>
        </li>
    {% else %}
        <li class="nav-item">
            <a class="nav-link" href="/"><i class="fas fa-home"></i> Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/dashboard"><i class="fas fa-book-open"></i> Dashboard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/orgProfile"><i class="far fa-user"></i> My Profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/items"><i class="fas fa-store"></i> My Items</a>
        </li>
    {% endif %}
{% endblock %}

<!--When the user is not logged in-->
{% block navbar_nologin %}
<li class="nav-item">
	<a class="nav-link" href="/"><i class="fas fa-home"></i> Home</a>
</li>
<li class="nav-item">
	<a class="nav-link" href="/orgs"><i class="far fa-building"></i> Organizations</a>
</li>
{% endblock %}
{% block content %}
<div class="page-wrap d-flex flex-row align-items-center pt-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <span class="display-1 d-block">404</span>
                <div class="mb-4 lead">The page you are looking for was not found.</div>
                <a href="/" class="btn btn-link btn-primary">Back to Home</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}