{% extends 'base.html' %}
{% block title %}Admin{% endblock %}

{% block content %}
<div class="container pt-5">
	<div class="row align-items-center justify-content-center">
		<div class="col m-2">
			<p class="display-4 mx-auto text-center">Organization Access Requests</p>
			<hr />
		</div>
	</div>
	<div class="row">
		<div class="col table-responsive">
			<table class="table table-bordered table-hover">
				<thead class="thead-dark">
					<tr>
						<th scope="col">#</th>
						<th scope="col">Org. Name</th>
						<th scope="col">Status</th>
						<th scope="col">License No.</th>
						<th scope="col">City</th>
						<th scope="col">PO. Box</th>
						<th scope="col">Email</th>
						<th scope="col">Phone No.</th>
						<th scope="col">View Info</th>
						<th scope="col">Approve?</th>
					</tr>
				</thead>
				{%- for org in orgData %}
				<tbody>
					<th scope="row">{{org[0]}}</th>
					<td>{{org[2]}}</td>
					<td>{% if org[3] == 2 %}Verified{% elif org[3] == 1 %}Awaiting Verification{% else %}Unverified Email{% endif %}</td>
					<td>{{org[5]}}</td>
					<td>{{org[6]}}</td>
					<td>{{org[8]}}</td>
					<td><a href="mailto:{{org[12]}}">{{org[12]}}</a></td>
					<td>{{org[10]}}</td>
					<td><a href="/org/{{org[1]}}">View</a></td>
					<td class="text-center"><a class="btn btn-success text-white m-1" href="/admin/approve/{{org[1]}}">✓</a><a class="btn btn-danger text-white m-1" href="/admin/reject/{{org[1]}}">✗</a></td>
				</tbody>
				{% endfor -%}
			</table>
		</div>
	</div>
</div>
{% endblock %}