{% extends 'base.html' %}
{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="jumbotron jumbotron-fluid colorSchemeDarkBlue bgColorSchemePink">
    <div class="container">
        <h2 class="display-1">Dashboard</h2>
        <p class="lead" id=intro>Hello, {{userData[2]}}!</p>
    </div>
</div>
<div class="container pb-5 center-block">
    <div class="row mb-3">
        <!--View Profile-->
        <div class="col-md-2">
            <img src="/assets/viewProfile.png" class="img-thumbnail">
        </div>
        <div class="col-md-4">
            <h3>View Your Profile</h3>
            <p>View how other organizations see your profile. Edit your profile or change your password. </p>
            <a class="btn btn-primary" href="/userProfile">View Profile</a>
        </div>

        <!--View Items-->
        <div class="col-md-2">
            <img src="/assets/viewItems.png" class="img-thumbnail">
        </div>
        <div class="col-md-4">
            <h3>View Your Items</h3>
            <p>View your donated items and their status. Schedule pickup times with organizations.</p>
            <a class="btn btn-primary" href="/items">View Items</a>
        </div>
    </div>
    
    <div class="row mb-3">
            <!--Donate Item-->
        <div class="col-md-2">
            <img src="/assets/donateItem.png" class="img-thumbnail">
        </div>
        <div class="col-md-4">
            <h3>Donate an Item</h3>
            <p>Donate an item to an organization of your choice. They will pick it up right from your doorstep!</p>
            <a class="btn btn-primary" href="/addItem">Donate Item</a>
        </div>
        <div class="col-md-2">
            <img src="/assets/viewOrgs.png" class="img-thumbnail">
        </div>
        <!--View Organizations-->
        <div class="col-md-4">
            <h3>View Organizations</h3>
            <p>View a list of organizations you can donate to. Look at their information for further inquiries.</p>
            <a class="btn btn-primary" href="/orgs">Organizations</a>
        </div>
    </div>
    


{% endblock %}