{% extends 'base.html' %}
{% block title %}Items{% endblock %}

{% block content %}
<div class="jumbotron jumbotron-fluid colorSchemeDarkBlue bgColorSchemePink">
	<div class="container">
		<h2 class="display-1">Donated Items</h2>
        <p class="lead" id=intro>View your donated items.</p>
	</div>
</div>
<div class="container pt-5 mb-5">
	<div class="row align-items-center justify-content-center">
		<div class="card-deck padded-top">
			<div class="card border-dark mb-3 org-cards text-center">
				<div class="container-fluid">
					<img class="card-img-top"
						src="https://images-na.ssl-images-amazon.com/images/I/41S6RuziD8L._AC_UX385_.jpg"
						style="width: 100%; height: 300px; object-fit: scale-down;">
				</div>
				<hr />
				<div class="card-body">
					<span class="badge badge-success">Accepted by Red Crescent</span>
					<h4 class="card-title">Used Hoodie</h4>
					<p class="text-muted">aaaa-bbb-ccc-dddd</p>
					<button type="button" class="btn btn-primary" data-toggle="modal"
						data-target="#aaaa-bbb-ccc-dddd">View More</button>
				</div>
				<div class="card-footer">
					<p class="card-text"><small class="text-muted">Donated on 24/11/2020</small></p>
				</div>
			</div>
			<div class="modal" id="aaaa-bbb-ccc-dddd" tabindex="-1">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">Detailed Information</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<table class="table table-borderless">
								<thead>
									<tr>
										<th scope="col"></th>
										<th scope="col"></th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<th class="text-left font-weight-bold">Name</th>
										<th>Used Hoodie</th>
									</tr>
									<tr>
										<th class="text-left font-weight-bold">ID</th>
										<th>aaaa-bbb-ccc-dddd</th>
									</tr>
									<tr>
										<th class="text-left font-weight-bold">Category</th>
										<th>Clothes</th>
									</tr>
									<tr>
										<th class="text-left font-weight-bold">Condition</th>
										<th>Lightly Used</th>
									</tr>
									<tr>
										<th class="text-left font-weight-bold">Description</th>
										<th>A red slightly used hoodie that has "New York" written on it. It also has a
											few loose strings.</th>
									</tr>
									<tr>
										<th class="text-left font-weight-bold">Donated Organization</th>
										<th>Dubai Cares</th>
									</tr>
									<tr>
										<th class="text-left font-weight-bold">Time Submitted</th>
										<th>3:29pm 24/11/2020</th>
									</tr>
									<tr>
										<th class="text-left font-weight-bold">Proposed Pickup Time</th>
										<th>4:30pm 26/11/2020</th>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>
			<div class="card border-dark mb-3 org-cards text-center">
				<div class="container-fluid">
					<img class="card-img-top"
						src="https://5.imimg.com/data5/XH/XD/OF/ANDROID-10893791/product-jpeg-500x500.jpg"
						style="width: 100%; height: 300px; object-fit: scale-down;">
				</div>
				<hr />
				<div class="card-body">
					<span class="badge badge-danger">Rejected by Red Crescent</span>
					<h4 class="card-title">Toy Car</h4>
					<p class="text-muted">aaaa-bbb-ccc-dddd</p>
					<button type="button" class="btn btn-primary" data-toggle="modal"
						data-target="#aaaa-bbb-ccc-dddd">View More</button>
				</div>
				<div class="card-footer">
					<p class="card-text"><small class="text-muted">Donated on 24/11/2020</small></p>
				</div>
			</div>
			<div class="modal" id="aaaa-bbb-ccc-dddd" tabindex="-1">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">Detailed Information</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<table class="table table-borderless">
								<thead>
									<tr>
										<th scope="col"></th>
										<th scope="col"></th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<th class="text-left font-weight-bold">Name</th>
										<th>Used Hoodie</th>
									</tr>
									<tr>
										<th class="text-left font-weight-bold">ID</th>
										<th>aaaa-bbb-ccc-dddd</th>
									</tr>
									<tr>
										<th class="text-left font-weight-bold">Category</th>
										<th>Clothes</th>
									</tr>
									<tr>
										<th class="text-left font-weight-bold">Condition</th>
										<th>Lightly Used</th>
									</tr>
									<tr>
										<th class="text-left font-weight-bold">Description</th>
										<th>A red slightly used hoodie that has "New York" written on it. It also has a
											few loose strings.</th>
									</tr>
									<tr>
										<th class="text-left font-weight-bold">Donated Organization</th>
										<th>Dubai Cares</th>
									</tr>
									<tr>
										<th class="text-left font-weight-bold">Time Submitted</th>
										<th>3:29pm 24/11/2020</th>
									</tr>
									<tr>
										<th class="text-left font-weight-bold">Proposed Pickup Time</th>
										<th>4:30pm 26/11/2020</th>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>
			<div class="card border-dark mb-3 org-cards text-center">
				<div class="container-fluid">
					<img class="card-img-top"
						src="https://images-na.ssl-images-amazon.com/images/I/51Zg7FM2f2L._SX258_BO1,204,203,200_.jpg"
						style="width: 100%; height: 300px; object-fit: scale-down;">
				</div>
				<hr />
				<div class="card-body">
					<span class="badge badge-info">Awaiting Approval</span>
					<h4 class="card-title">KG Arabic Books</h4>
					<p class="text-muted">aaaa-bbb-ccc-dddd</p>
					<button type="button" class="btn btn-primary" data-toggle="modal"
						data-target="#aaaa-bbb-ccc-dddd">View More</button>
				</div>
				<div class="card-footer">
					<p class="card-text"><small class="text-muted">Donated on 24/11/2020</small></p>
				</div>
			</div>
			<div class="modal" id="aaaa-bbb-ccc-dddd" tabindex="-1">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">Detailed Information</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<table class="table table-borderless">
								<thead>
									<tr>
										<th scope="col"></th>
										<th scope="col"></th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<th class="text-left font-weight-bold">Name</th>
										<th>Used Hoodie</th>
									</tr>
									<tr>
										<th class="text-left font-weight-bold">ID</th>
										<th>aaaa-bbb-ccc-dddd</th>
									</tr>
									<tr>
										<th class="text-left font-weight-bold">Category</th>
										<th>Clothes</th>
									</tr>
									<tr>
										<th class="text-left font-weight-bold">Condition</th>
										<th>Lightly Used</th>
									</tr>
									<tr>
										<th class="text-left font-weight-bold">Description</th>
										<th>A red slightly used hoodie that has "New York" written on it. It also has a
											few loose strings.</th>
									</tr>
									<tr>
										<th class="text-left font-weight-bold">Donated Organization</th>
										<th>Dubai Cares</th>
									</tr>
									<tr>
										<th class="text-left font-weight-bold">Time Submitted</th>
										<th>3:29pm 24/11/2020</th>
									</tr>
									<tr>
										<th class="text-left font-weight-bold">Proposed Pickup Time</th>
										<th>4:30pm 26/11/2020</th>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>
			<div class="card border-dark mb-3 org-cards text-center">
				<div class="container-fluid">
					<img class="card-img-top"
						src="https://4.imimg.com/data4/CQ/XH/MY-14786456/power-tool-spare-part-500x500.jpg"
						style="width: 100%; height: 300px; object-fit: scale-down;">
				</div>
				<hr />
				<div class="card-body">
					<span class="badge badge-warning">Needs Pickup Time Approval</span>
					<h4 class="card-title">Spare Tools</h4>
					<p class="text-muted">aaaa-bbb-ccc-dddd</p>
					<button type="button" class="btn btn-primary" data-toggle="modal"
						data-target="#aaaa-bbb-ccc-dddd">View More</button>
				</div>
				<div class="card-footer">
					<p class="card-text"><small class="text-muted">Donated on 24/11/2020</small></p>
				</div>
			</div>
			<div class="modal" id="aaaa-bbb-ccc-dddd" tabindex="-1">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">Detailed Information</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<table class="table table-borderless">
								<thead>
									<tr>
										<th scope="col"></th>
										<th scope="col"></th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<th class="text-left font-weight-bold">Name</th>
										<th>Used Hoodie</th>
									</tr>
									<tr>
										<th class="text-left font-weight-bold">ID</th>
										<th>aaaa-bbb-ccc-dddd</th>
									</tr>
									<tr>
										<th class="text-left font-weight-bold">Category</th>
										<th>Clothes</th>
									</tr>
									<tr>
										<th class="text-left font-weight-bold">Condition</th>
										<th>Lightly Used</th>
									</tr>
									<tr>
										<th class="text-left font-weight-bold">Description</th>
										<th>A red slightly used hoodie that has "New York" written on it. It also has a
											few loose strings.</th>
									</tr>
									<tr>
										<th class="text-left font-weight-bold">Donated Organization</th>
										<th>Dubai Cares</th>
									</tr>
									<tr>
										<th class="text-left font-weight-bold">Time Submitted</th>
										<th>3:29pm 24/11/2020</th>
									</tr>
									<tr>
										<th class="text-left font-weight-bold">Proposed Pickup Time</th>
										<th>4:30pm 26/11/2020</th>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}