{% extends 'base.html' %}
{% block title %}Items{% endblock %}

{% block navbar %}
<li class="nav-item">
	<a class="nav-link" href="/"><i class="fas fa-home"></i> Home</a>
</li>
<li class="nav-item">
	<a class="nav-link" href="/dashboard"><i class="fas fa-book-open"></i> Dashboard</a>
</li>
<li class="nav-item">
	<a class="nav-link" href="/orgProfile"><i class="far fa-user"></i> My Profile</a>
</li>
<li class="nav-item active">
	<a class="nav-link" href="/items"><i class="fas fa-store"></i> My Items</a>
</li>
{% endblock %}

{% block content %}
<div class="jumbotron jumbotron-fluid colorSchemeDarkBlue bgColorSchemePink">
	<div class="container">
		<h2 class="display-1">Donated Items</h2>
        <p class="lead" id=intro>View items donated to your organization.</p>
	</div>
</div>

<div class="container pt-5 mb-5">
	{% for item_group in items_list | batch(3) %}
	<div class="row align-items-center justify-content-center">
		<div class="card-deck padded-top">
			{% for item in item_group %}
			<div class="card border-dark mb-3 org-cards text-center">
				<div class="container-fluid">
					<img class="card-img-top"
						src="data:image/jpeg;base64, {{item[10].decode('utf-8') | safe}}"
						style="width: 100%; height: 300px; object-fit: scale-down;">
				</div>
				<hr />
				<div class="card-body">
					{% if item[11] == 0 %}
					<span class="badge badge-info">Awaiting Approval</span>
					{% elif item[11] == 1 %}
					<span class="badge badge-success">Accepted</span>
					{% elif item[11] == -1 %}
					<span class="badge badge-danger">Rejected</span>
					{% elif item[11] == 2 %}
					<span class="badge badge-warning">Awaiting Pickup Approval by {{item[12]}} {{item[13]}}</span>
					{% elif item[11] == 3 %}
					<span class="badge badge-warning">Awaiting Pickup Approval by Organization</span>
					{% endif %}
					<h4 class="card-title">{{item[2]}}</h4>
					<p class="text-muted">{{item[1]}}</p>
					<button type="button" class="my-3 btn btn-primary" onclick="$('#{{item[1]}}').modal('show')">View More</button>
					<!-- Item is awaiting approval -->
					{% if item[11] == 0 %}
					<form>
						<button type="button" class="my-3 btn btn-success" onclick="$('#approve-{{item[1]}}').modal('show')">Accept</button>
						<button type="button" class="my-3 btn btn-danger" onclick="$('#removeItem-{{item[1]}}').modal('show')">Reject Item</button>
					</form>
					{% elif item[11] == 2 %}
					<button type="button" class="my-3 btn btn-danger" onclick="$('#removeItem-{{item[1]}}').modal('show')">Reject Item</button>
					{% elif item[11] == 3 %}
					<form>
						<button type="button" class="my-3 btn btn-success" onclick="$('#approve-{{item[1]}}').modal('show')">Accept</button>
						<button type="button" class="my-3 btn btn-danger" onclick="$('#removeItem-{{item[1]}}').modal('show')">Reject Item</button>
						<button type="button" class="my-3 btn btn-warning" onclick="$('#rejectPickupTime-{{item[1]}}').modal('show')">Reject Pickup Time</button>
					</form>
					{% endif %}
				</div>
				<div class="card-footer">
					<p class="card-text"><small class="text-muted">Donated on {{item[8]}}</small></p>
				</div>
			</div>
			<div class="modal" id="{{item[1]}}" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="modalLabel">Detailed Information</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<table class="table table-borderless">
								<thead>
									<tr>
										<th scope="col"></th>
										<th scope="col"></th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<th class="text-left font-weight-bold">Name</th>
										<th>{{item[2]}}</th>
									</tr>
									<tr>
										<th class="text-left font-weight-bold">ID</th>
										<th>{{item[1]}}</th>
									</tr>
									<tr>
										<th class="text-left font-weight-bold">Category</th>
										<th>{{item[3]}}</th>
									</tr>
									<tr>
										<th class="text-left font-weight-bold">Condition</th>
										<th>{{item[4]}}</th>
									</tr>
									<tr>
										<th class="text-left font-weight-bold">Description</th>
										<th>{{item[5]}}</th>
									</tr>
									<tr>
										<th class="text-left font-weight-bold">Donated By</th>
										<th><a href="/user/{{item[7]}}">{{item[12]}} {{item[13]}}</a></th>
									</tr>
									<tr>
										<th class="text-left font-weight-bold">Time Submitted</th>
										<th>{{item[8]}}</th>
									</tr>
									<tr>
										<th class="text-left font-weight-bold">Proposed Pickup Time</th>
										<th>{{item[9]}}</th>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>

			<!-- Remove Item Modal -->
			<div class="modal fade" id="removeItem-{{item[1]}}" tabindex="-1" role="dialog" aria-labelledby="removeItemLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="removeItemLabel">Remove Item "{{item[2]}}"</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							Are you sure you want to remove this item?
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
							<form method="POST" action="/item/{{item[1]}}/remove">
								<button type="submit" class="btn btn-primary">Remove Item</button>
							</form>
						</div>
					</div>
				</div>
			</div>

			<!-- Approval Modal -->
			<div class="modal fade" id="approve-{{item[1]}}" role="dialog" tabindex="-1" aria-labelledby="approve" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="reject">Approve Pickup Time?</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<form method="POST" action="/item/{{item[1]}}/accept">
								<div class="row p-2">
									<label for="validationTooltip10">User's preferred pickup time</label>
									<select class="custom-select" id="validationTooltip10" aria-describedby="timeHelp" required>
										<option selected disabled>{{item[9]}}</option>
									</select>
									<small id="timeHelp" class="form-text text-muted">All timings are in UAE standard time.</small>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
									<button type="button" class="btn btn-danger" onclick="$('#approve-{{item[1]}}').modal('hide');$('#rejectPickupTime-{{item[1]}}').modal('show');">Reject</button>
									<button type="submit" class="btn btn-success">Accept</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>

			<!-- Reject Pickup Time Modal -->
			<div class="modal fade" id="rejectPickupTime-{{item[1]}}" role="dialog" tabindex="-1" aria-labelledby="reject" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="reject">Choose a Pickup Time</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<form method="POST" action="/item/{{item[1]}}/changePickupTime">
								<div class="row p-2">
									<label for="validationTooltip08">Preffered pickup time</label>
									<select class="custom-select" id="validationTooltip08" name = "time" aria-describedby="timeHelp" required>
										<option selected disabled value="">Choose...</option>
										<option>Morning (8:00 AM - 11:00 AM)</option>
										<option>Afternoon (2:00 PM - 5:00 PM)</option>
										<option>Evening (7:00 PM - 9:00 PM)</option>
									</select>
									<small id="timeHelp" class="form-text text-muted">All timings are in UAE standard time.</small>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
									<button type="submit" class="btn btn-primary">Submit</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
	{% endfor %}
</div>
{% endblock %}
