{% extends 'base.html' %}
{% block title %}Items{% endblock %}

{% block navbar %}
<li class="nav-item">
	<a class="nav-link" href="/"><i class="fas fa-home"></i> Home</a>
</li>
<li class="nav-item">
	<a class="nav-link" href="/dashboard"><i class="fas fa-book-open"></i> Dashboard</a>
</li>
<li class="nav-item">
	<a class="nav-link" href="/orgProfile"><i class="far fa-user"></i> My Profile</a>
</li>
<li class="nav-item active">
	<a class="nav-link" href="/items"><i class="fas fa-store"></i> My Items</a>
</li>
{% endblock %}

{% block content %}
<div class="jumbotron jumbotron-fluid colorSchemeDarkBlue bgColorSchemePink">
	<div class="container">
		<h2 class="display-1">Donated Items</h2>
        <p class="lead" id=intro>View items donated to your organization.</p>
	</div>
</div>

<div class="container pt-5 mb-5">
	{% for batch in items | batch(4) %}
	<div class="row align-items-center justify-content-center">
		<div class="card-deck padded-top">
			{% for item in batch %}
			<div class="card border-dark mb-3 org-cards text-center">
				<div class="container-fluid">
					<img class="card-img-top"
						src="data:image/jpeg;base64, {{item[10].decode('utf-8') | safe}}"
						style="width: 100%; height: 300px; object-fit: scale-down;">
				</div>
				<hr />
				<div class="card-body">
					{% if item[11] == 0 %}   
					<span class="badge badge-info">Awaiting Approval</span>
					{% elif item[11] == 1 %}
					<span class="badge badge-success">Accepted by {{item[12]}}</span>
					{% elif item[11] == -1 %}
					<span class="badge badge-danger">Rejected by {{item[12]}}</span>
					{% elif item[11] == 2 %}
					<span class="badge badge-warning">Awaiting Pickup Approval by User</span>
					{% elif item[11] == 3 %}
					<span class="badge badge-warning">Awaiting Pickup Approval by {{item[12]}}</span>
					{% endif %}
					<h4 class="card-title">{{item[2]}}</h4>
					<p class="text-muted">{{item[1]}}</p>
					<button type="button" class="btn btn-primary" data-toggle="modal"
						data-target="#aaaa-bbb-ccc-dddd">View More</button>
				</div>
				<div class="card-footer">
					<p class="card-text"><small class="text-muted">Donated on {{item[9]}}</small></p>
				</div>
			</div>
			<div class="modal" id="aaaa-bbb-ccc-dddd" tabindex="-1">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">Detailed Information</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<table class="table table-borderless">
								<thead>
									<tr>
										<th scope="col"></th>
										<th scope="col"></th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<th class="text-left font-weight-bold">Name</th>
										<th>{{item[2]}}</th>
									</tr>
									<tr>
										<th class="text-left font-weight-bold">ID</th>
										<th>{{item[1]}}</th>
									</tr>
									<tr>
										<th class="text-left font-weight-bold">Category</th>
										<th>{{item[3]}}</th>
									</tr>
									<tr>
										<th class="text-left font-weight-bold">Condition</th>
										<th>{{item[4]}}</th>
									</tr>
									<tr>
										<th class="text-left font-weight-bold">Description</th>
										<th>{{item[5]}}</th>
									</tr>
									<tr>
										<th class="text-left font-weight-bold">User ID</th>
										<th>{{item[7]}}</th>
									</tr>
									<tr>
										<th class="text-left font-weight-bold">Time Submitted</th>
										<th>{{item[8]}}</th>
									</tr>
									<tr>
										<th class="text-left font-weight-bold">Proposed Pickup Time</th>
										<th>{{item[9]}}</th>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
							<!-- Item is awaiting approval -->
							{% if item[11] == 1 %}
							<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#removeItem">Remove Item</button>
							<!-- Item awaiting pickup time approval from user -->
							{% elif item[11] == 2%}
							<button type="button" class="btn btn-success">Accept</button>
							<button type="button" class="btn btn-danger data-toggle="modal" data-target="#rejectPickupTime">Reject</button>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
	<!-- Remove Item Modal -->
	<div class="modal fade" id="removeItem" tabindex="-1" aria-labelledby="removeItemLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="remove">Remove Item "{{item[2]}}"</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
			<div class="modal-body">
			Are you sure you want to remove this item?
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary">Remove Item</button>
			</div>
			</div>
		</div>
	</div>

	<!-- Reject Pickup Time Modal -->
	<div class="modal fade" id="rejectPickupTime" tabindex="-1" aria-labelledby="reject" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="reject">Choose a Pickup Time</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
			<div class="modal-body">
				<div class="row">
					<label for="validationTooltip08">Preffered pickup time</label>
					<select class="custom-select" id="validationTooltip08" name = "time" aria-describedby="timeHelp" required>
						<option selected disabled value="">Choose...</option>
						<option>Morning (8:00 AM - 11:00 AM)</option>
						<option>Afternoon (2:00 PM - 5:00 PM)</option>
						<option>Evening (7:00 PM - 9:00 PM)</option>
					</select>
					<small id="timeHelp" class="form-text text-muted">All timings are in UAE standard time.</small>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary">Remove Item</button>
			</div>
			</div>
		</div>
	</div>
	{% endfor %}
</div>
{% endblock %}
