{% extends 'base.html' %}
{% block title %}Items{% endblock %}

{% block content %}

<div class="container pt-5">
	<div class="row align-items-center">
		<div class="col">
			<p class="text-center display-4">Donated Items</p>
			<hr />
		</div>
	</div>
	<div class="row">
		<div class="col table-responsive">
			<!-- TODO: FINISH THIS TABLE -->
			<table class="table table-bordered table-hover">
				<thead class="thead-dark">
					<tr>
						<th scope="col">#</th>
						<th scope="col">Donation ID</th>
						<th scope="col">Item Name</th>
						<th scope="col">Category</th>
						<th scope="col">Condition</th>
						<th scope="col">Description</th>
						<th scope="col">Image</th>
						<th scope="col">Receiving Organization</th>
						<th scope="col">Status</th>
						<th scope="col">Pickup Time</th>
					</tr>
				</thead>
				<tbody>
					<th scope="row">1</th>
					<td>aaaa-bbb-ccc-dddd</td>
					<td>Used Hoodies</td>
					<td>Clothes</td>
					<td>Lightly Used</td>
					<td>A used red hoodie that is really good at keeping the wearer warm. It has a few loose strings on
						the inside but other than that it is in perfect condition.</td>
					<td><a href="#">View</a></td>
					<td>Red Crescent</td>
					<td><span class="badge badge-success">Accepted</span></td>
					<td>10/11/2020 - 10:30 AM</td>
				</tbody>
				<tbody>
					<th scope="row">1</th>
					<td>aaaa-bbb-ccc-dddd</td>
					<td>Used Pillow Cases</td>
					<td>Linens</td>
					<td>New</td>
					<td>It's pretty cool.</td>
					<td><a href="#">View</a></td>
					<td>Red Crescent</td>
					<td><span class="badge badge-danger">Rejected</span></td>
					<td>11/11/2020 - 5:30 AM</td>
				</tbody>
				<tbody>
					<th scope="row">1</th>
					<td>aaaa-bbb-ccc-dddd</td>
					<td>Used Hotwheels Track</td>
					<td>Toys</td>
					<td>Lightly Used</td>
					<td>The name of the item is self explanatory.</td>
					<td><a href="#">View</a></td>
					<td>Red Crescent</td>
					<td><span class="badge badge-warning">Needs Approval</span></td>
					<td>1/1/2020 - 2:30 PM</td>
				</tbody>
			</table>
		</div>
	</div>
</div>

{% endblock %}