{% extends 'base.html' %}
{% block title %}Organizations{% endblock %}

<!--When the user is logged in-->
{% block navbar %}
<li class="nav-item">
	<a class="nav-link" href="/"><i class="fas fa-home"></i> Home</a>
</li>
<li class="nav-item">
	<a class="nav-link" href="/dashboard"><i class="fas fa-book-open"></i> Dashboard</a>
</li>
<li class="nav-item">
	<a class="nav-link" href="/userProfile"><i class="far fa-user"></i> My Profile</a>
</li>
<li class="nav-item">
	<a class="nav-link" href="/addItem"><i class="fas fa-hand-holding-usd"></i> Donate</a>
</li>
<li class="nav-item">
	<a class="nav-link" href="/items"><i class="fas fa-store"></i> My Items</a>
</li>
<li class="nav-item active">
	<a class="nav-link" href="/orgs"><i class="far fa-building"></i> Organizations</a>
</li>
{% endblock %}

<!--When the user is not logged in-->
{% block navbar_nologin %}
<li class="nav-item">
	<a class="nav-link" href="/"><i class="fas fa-home"></i> Home</a>
</li>
<li class="nav-item active">
	<a class="nav-link" href="/orgs"><i class="far fa-building"></i> Organizations</a>
</li>
{% endblock %}

{% block content %}
<div class="jumbotron jumbotron-fluid bgColorSchemeRed colorSchemeWhite">
	<div class="container">
		<h2 class="display-1">List of Organizations</h2>
        <p class="lead" id=intro>Organizations you can donate to.</p>
	</div>
</div>
<div class="container pt-5 pb-5 mb-5">
	{% for orgs in orgData | batch(3) %}
	<div class="row align-items-center justify-content-center">
		<div class="card-deck padded-top">
		{% for org in orgs %}
		<div class="card border-dark mb-3 text-center org-cards">
			<img class="card-img-top img-size"
				src="data:image/jpeg;base64, {{org[11].decode('utf-8') | safe}}">
				<hr />
			<div class="card-body">
				<h5 class="card-title">{{org[2]}}</h5>
				<a class="btn btn-primary mt-3" href="/org/{{org[1]}}">View Profile</a>
			</div>
		</div>
		{% endfor %}
		</div>
	</div>
	{%- endfor %}
</div>
</div>
{% endblock %}