{% extends 'base.html' %}
{% block title %}Organizations{% endblock %}

{% block content %}

<div class="container padded-top">
	<div class="row align-items-center justify-content-center">
		<div class="col m-2">
			<p class="display-4 mx-auto text-center">List of Organizations</p>
			<hr />
		</div>
	</div>
	<div class="row align-items-center justify-content-center">
		<div class="card-deck padded-top">
			<div class="card border-dark mb-3 text-center org-cards">
				<img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9f/Flag_of_the_Red_Cross.png/1200px-Flag_of_the_Red_Cross.png">
				<div class="card-body">
					<h5 class="card-title">Red Cross</h5>
					<a class="btn btn-success" href="#">View Profile</a>
				</div>
				<div class="card-footer">
					<p class="card-text"><small class="text-muted">Member since June, 2019</small></p>
				</div>
			</div>
			<div class="card border-dark mb-3 text-center org-cards">
				<img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0f/Flag_of_the_Red_Crescent.svg/800px-Flag_of_the_Red_Crescent.svg.png">
				<div class="card-body">
					<h5 class="card-title">UAE Red Crescent</h5>
					<a class="btn btn-success" href="#">View Profile</a>
				</div>
				<div class="card-footer">
					<p class="card-text"><small class="text-muted">Member since June, 2019</small></p>
				</div>
			</div>
			<div class="card border-dark mb-3 text-center org-cards">
				<img class="card-img-top" src="https://www.globalgiving.org/share/dfltpict.jpg?t=1425052995000">
				<div class="card-body">
					<h5 class="card-title">Global Giving</h5>
					<a class="btn btn-success" href="#">View Profile</a>
				</div>
				<div class="card-footer">
					<p class="card-text"><small class="text-muted">Member since June, 2019</small></p>
				</div>
			</div>
			<div class="card border-dark mb-3 text-center org-cards">
				<img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ18h1_UAcJl5YUl3rjgQmLby7gV8Hl3joTEg&usqp=CAU">
				<div class="card-body">
					<h5 class="card-title">Charities Aid Foundation</h5>
					<a class="btn btn-success" href="#">View Profile</a>
				</div>
				<div class="card-footer">
					<p class="card-text"><small class="text-muted">Member since June, 2019</small></p>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}