{% extends 'base.html' %}
{% block title %}Register{% endblock %}
{% block navbar %}
    {% if session['type'] == 'user' %}
        <li class="nav-item">
            <a class="nav-link" href="/"><i class="fas fa-home"></i> Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/dashboard"><i class="fas fa-book-open"></i> Dashboard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/userProfile"><i class="far fa-user"></i> My Profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/addItem"><i class="fas fa-hand-holding-usd"></i> Donate</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/items"><i class="fas fa-store"></i> My Items</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/orgs"><i class="far fa-building"></i> Organizations</a>
        </li>
    {% else %}
        <li class="nav-item">
            <a class="nav-link" href="/"><i class="fas fa-home"></i> Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/dashboard"><i class="fas fa-book-open"></i> Dashboard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/orgProfile"><i class="far fa-user"></i> My Profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/items"><i class="fas fa-store"></i> My Items</a>
        </li>
    {% endif %}
{% endblock %}

<!--When the user is not logged in-->
{% block navbar_nologin %}
<li class="nav-item">
	<a class="nav-link" href="/"><i class="fas fa-home"></i> Home</a>
</li>
<li class="nav-item">
	<a class="nav-link" href="/orgs"><i class="far fa-building"></i> Organizations</a>
</li>
{% endblock %}
{% block content %}

<!--Card BEGIN-->
<div class="container pt-5">
	{% if type == 'user' %}
	<div class="row align-items-center mt-3">
		<div class="col">
			<p class="text-center display-4">User Registration</p>
			<hr />
		</div>
	</div>
	<div class="card mb-3 bg-light">
		<div class="card-header font-weight-bold text-center colorSchemeWhite bgColorSchemeDarkBlue mb-3">Registration Form</div>
		<div class="card-body">
			<form method="POST" action="/register">
				<input type="hidden" name="type" value="user" />
				<h5>User Information</h5>
				<p><em>We will never share this information with anyone!</em></p>
				<hr />
				<div class="form-row">
					<!-- First Name -->
					<div class="col-md-6 mb-3">
						<label for="validationTooltip01">First name</label>
						<input type="text" class="form-control" id="validationTooltip01" placeholder="John" name="firstName" required>
						<div class="valid-tooltip">Looks good!</div>
					</div>
					<!-- Last Name -->
					<div class="col-md-6 mb-3">
						<label for="validationTooltip02">Last name</label>
						<input type="text" class="form-control" id="validationTooltip02" placeholder="Smith" name="lastName" required>
						<div class="valid-tooltip">Looks good!</div>
					</div>
				</div>
				<!--Birth date-->
				<div class="form-group">
					<label for="Birthdate">Date of Birth</label>
					<input type="date" class="form-control" id="exampleFormControlInput1" placeholder="mm/dd/yyyy" name="dob" required>
				</div>
				<!-- Check box - confirm I am 18+ -->
				<div class="form-group">
					<div class="form-check">
						<input class="form-check-input" type="checkbox" id="gridCheck" required>
						<label class="form-check-label" for="gridCheck">
							I promise that I am 18 years old or older!
						</label>
					</div>
				</div>
				<h5>Contact Information</h5>
				<hr />
				<!-- Address -->
				<div class="form-row">
					<!-- City -->
					<div class="col-md-4 mb-3">
						<label for="validationTooltip03">City</label>
						<input type="text" class="form-control" id="validationTooltip03" placeholder="Neverland" name="city" required>
						<div class="invalid-tooltip">Please provide a valid city.</div>
					</div>
					<!--Emirate Drop-Down-->
					<div class="col-md-4 mb-3">
						<label for="validationTooltip04">Emirate</label>
						<select class="custom-select" id="validationTooltip04" name="emirate" required>
							<option selected disabled value="">Choose...</option>
							<option>Abu Dhabi</option>
							<option>Dubai</option>
							<option>Sharjah</option>
							<option>Ajman</option>
							<option>Fujairah</option>
							<option>Ras al Khaimah</option>
							<option>Umm al Quwain</option>
						</select>
						<div class="invalid-tooltip">Please select a valid Emirate.</div>
					</div>
					<!--PO BOX-->
					<div class="col-md-4 mb-3">
						<label for="PO-BOX">PO Box</label>
						<input type="text" class="form-control" id="PO-BOX" placeholder="xxxxx" name="POBox" required>
					</div>
				</div>
				<!--2 complete address lines-->
				<div class="form-group">
					<label for="Address1">Address #1</label>
					<input type="text" class="form-control" placeholder="Street 1, Building 3, Apartment 55" name="address1" required>
				</div>
				<div class="form-group">
					<label for="Address2">Address #2</label>
					<input type="text" class="form-control" placeholder="Behind AUS" name="address2" required>
				</div>
				<!-- Phone number -->
				<div class="form-group">
					<label for="validationTooltip05">Phone Number</label>
					<input type="tel" class="form-control" id="validationTooltip05" placeholder="05x xxxxxxx" name="phone" required>
				</div>
				<!-- Email -->
				<div class="form-group">
					<label for="validationTooltip06">Email</label>
					<input type="email" class="form-control" id="validationTooltip06" placeholder="johnsmith@email.com" name="email" required>
				</div>
				<!--Password & Confirm Password-->
				<div class="form-row">
					<!--Password-->
					<div class="col-md-6 mb-3">
						<label for="validationTooltip07">Password</label>
						<input type="password" class="form-control" id="validationTooltip07" name="password" required>
					</div>
					<!--Confrim Password-->
					<div class="col-md-6 mb-3">
						<label for="validationTooltip08">Confirm Password</label>
						<input type="password" class="form-control" id="validationTooltip08" name="confirmPassword" required>
					</div>
				</div>
				<!-- Check box - terms and conditions -->
				<div class="form-group">
					<div class="form-check">
						<input class="form-check-input" type="checkbox" id="gridCheck" required>
						<label class="form-check-label" for="gridCheck">
							I have read and understood the <a href data-target="#termsconditions" data-toggle="modal">terms
								and conditions</a>.
						</label>
					</div>
				</div>
				<!-- Terms and Conditions Modal -->
				<div class="modal fade" id="termsconditions" tabindex="-1" role="dialog" aria-labelledby="termsconditions"
					aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="termsconditions">Terms and Conditions</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum in orci ut urna mattis
								auctor. Proin porta justo vitae gravida auctor. Vivamus ut sapien at metus varius mattis in
								non nibh. Proin feugiat fermentum quam vel luctus. In eu ullamcorper diam. Ut sem lorem,
								viverra et est ac, convallis interdum arcu. Nullam tempus ultrices ante. Praesent metus
								turpis, imperdiet vel venenatis ut, feugiat id ligula. Sed id risus neque.
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
							</div>
						</div>
					</div>
				</div>
				<button type="submit" class="btn btn-primary">Submit</button>
			</form>
		</div>
	</div>

<!--Card END-->
	<!--Organization Form-->
	{% elif type == 'org' %}
	<div class="row align-items-center mt-3">
		<div class="col">
			<p class="text-center display-4">Organization Request Access</p>
			<hr />
		</div>
	</div>
	<div class="card mb-3 bg-light">
		<div class="card-header font-weight-bold text-center colorSchemeWhite bgColorSchemeDarkBlue mb-3">Registration Form</div>
		<div class="card-body">
			<form method="POST" action="/register" enctype="multipart/form-data">
				<input type="hidden" name="type" value="org" />
				<!--Organization Name-->
				<h5>Organization Information</h5>
				<hr />
				<div class="form-group">
					<label for="validationTooltip01">Organization Name</label>
					<input type="text" class="form-control" id="validationTooltip01" placeholder="Charity Organization" name="name" required>
					<div class="valid-tooltip">Looks good!</div>
				</div>
				<!-- Registration number-->
				<div class="form-group">
					<label for="validationTooltip02">Charity License Number</label>
					<input type="text" class="form-control" id="validationTooltip01" aria-describedby="regNumHelp"
						placeholder="123456789" name="registrationNumber" required>
					<small id="regNumHelp" class="form-text text-muted">
						This number is the official government-issued charity license number for your organization.
					</small>
					<div class="valid-tooltip">Looks good!</div>
				</div>
				<!--Image Upload-->
				<div class="form-group">
					<label for="validationTooltip06">Upload organization logo</label>
					<input type="file" class="form-control-file" id="validationTooltip06" name="logo">
					<hr />
				</div>
				<!-- Address -->
				<h5>Contact Information</h5>
				<hr />
				<div class="form-row">
					<!-- City -->
					<div class="col-md-4 mb-3">
						<label for="validationTooltip03">City</label>
						<input type="text" class="form-control" id="validationTooltip03" placeholder="Neverland" name="city" required>
						<div class="invalid-tooltip">Please provide a valid city.</div>
					</div>
					<!--Emirate Drop-Down-->
					<div class="col-md-4 mb-3">
						<label for="validationTooltip04">Emirate</label>
						<select class="custom-select" id="validationTooltip04" name="emirate" required>
							<option selected disabled value="">Choose...</option>
							<option>Abu Dhabi</option>
							<option>Dubai</option>
							<option>Sharjah</option>
							<option>Ajman</option>
							<option>Fujairah</option>
							<option>Ras al Khaimah</option>
							<option>Umm al Quwain</option>
						</select>
						<div class="invalid-tooltip">Please select a valid Emirate.</div>
					</div>

					<!--PO BOX-->
					<div class="col-md-4 mb-3">
						<label for="PO-BOX">PO Box</label>
						<input type="text" class="form-control" id="PO-BOX" placeholder="xxxxx" name="POBox" required>
					</div>
				</div>
				<!--2 complete address lines-->
				<div class="form-group">
					<label for="Address1">Address #1</label>
					<input type="text" class="form-control" placeholder="Street 1, Building 3, Apartment 55" name="address1" required>
				</div>
				<div class="form-group">
					<label for="Address2">Address #2</label>
					<input type="text" class="form-control" placeholder="Behind AUS" name="address2" required>
				</div>

				<!-- Phone number -->
				<div class="form-group">
					<label for="validationTooltip05">Phone Number</label>
					<input type="tel" class="form-control" id="validationTooltip05" placeholder="05x xxxxxxx" name="phone" required>
				</div>
				<!-- Email -->
				<div class="form-group">
					<label for="validationTooltip06">Email</label>
					<input type="email" class="form-control" id="validationTooltip06" placeholder="johnsmith@email.com" name="email" required>
				</div>
				<!--Password & Confirm Password-->
				<div class="form-row">
					<!--Password-->
					<div class="col-md-6 mb-3">
						<label for="validationTooltip07">Password</label>
						<input type="password" class="form-control" id="validationTooltip07" name="password" required>
					</div>
					<!--Confrim Password-->
					<div class="col-md-6 mb-3">
						<label for="validationTooltip08">Confirm Password</label>
						<input type="password" class="form-control" id="validationTooltip08" name="confirmPassword" required>
					</div>
				</div>
				<!-- Check box - terms and conditions -->
				<div class="form-group">
					<div class="form-check">
						<input class="form-check-input" type="checkbox" id="gridCheck" required>
						<label class="form-check-label" for="gridCheck">
							I have read and understood the <a href data-target="#termsconditions"
								data-toggle="modal">terms and conditions</a>
						</label>
					</div>
				</div>
				<!-- Terms and Conditions Modal -->
				<div class="modal fade" id="termsconditions" tabindex="-1" role="dialog"
					aria-labelledby="termsconditions" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="termsconditions">Terms and Conditions</h5>.
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum in orci ut urna
								mattis auctor. Proin porta justo vitae gravida auctor. Vivamus ut sapien at metus varius
								mattis in non nibh. Proin feugiat fermentum quam vel luctus. In eu ullamcorper diam. Ut
								sem lorem, viverra et est ac, convallis interdum arcu. Nullam tempus ultrices ante.
								Praesent metus turpis, imperdiet vel venenatis ut, feugiat id ligula. Sed id risus
								neque.
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
							</div>
						</div>
					</div>
				</div>
				<p><em>Note: This information must be verified before you can get access to the platform.</em></p>
				<button type="submit" class="btn btn-primary">Submit</button>
			</form>
		</div>
	</div>
		{% else %}
		<div class="row align-items-center">
			<div class="col">
				<p class="text-center display-4">Registration: Choose Your Account Type</p>
				<hr />
			</div>
		</div>
		<div class="row justify-content-center align-items-center">
			<div class="col-4">
				<a href="/register?type=user"><img class="img-fluid rounded mx-auto d-block login-cards"
						src="{{ url_for('static', filename='user.png') }}" /></a>
			</div>
			<div class="col-4">
				<a href="/register?type=org"><img class="img-fluid rounded mx-auto d-block login-cards"
						src="{{ url_for('static', filename='org.png') }}" /></a>
			</div>
		</div>
		{% endif %}
</div>

	{% endblock %}