{% extends 'base.html' %}
{% block title %}User Profile{% endblock %}

{% block content %}
<div class="jumbotron jumbotron-fluid">
	<div class="container">
		<h2 class="display-1">Hello, Elon!</h2>
        <p class="lead" id=intro>This is your profile page. Organizations can view this page.</p>
	</div>
</div>
<div class="container pt-5 center-block">
    <div class="card mb-3 bg-light">
        <h3 class="card-header font-weight-bold text-center">My Account</h3>
        <div class="card-body">
            <h5 class="text-muted text-left">User Information</h5>
            <hr />
            <div class="row">
                <!--First Name-->
                <div class="col">
                    <label class ="font-weight-bold text-muted">First Name</label>
                    <p>Elon</p>
                </div>
                <!--Last Name-->
                <div class="col">
                    <label class ="font-weight-bold text-muted">Last Name</label>
                    <p>Musk</p>
                </div>
                <!--Birthdate-->
                <div class="col">
                    <label class ="font-weight-bold text-muted">Date of Birth</label>
                    <p>28/6/1971</p>
                </div>
            </div>
            <h5 class="text-muted text-left">Contact Information</h5>
            <hr />
            <div class="row">
                <!--City-->
                <div class="col">
                    <label class ="font-weight-bold text-muted">City</label>
                    <p>Downtown Dubai</p>
                </div>
                <!--Emirate-->
                <div class="col">
                    <label class ="font-weight-bold text-muted">Emirate</label>
                    <p>Dubai</p>
                </div>
                <!--PO BOX-->
                <div class="col">
                    <label class ="font-weight-bold text-muted">PO BOX</label>
                    <p>12345</p>
                </div>
            </div>
            <!--Address Line 1-->
            <div class="row">
                <div class="col-md-3">
                    <label class ="font-weight-bold text-muted">Address #1</label>
                </div>
                <div class="col-md-9">
                    <p>1 Sheikh Mohammed bin Rashid Blvd</p>
                </div>
            </div>
            <!--Address Line 1-->
            <div class="row">
                <div class="col-md-3">
                    <label class ="font-weight-bold text-muted">Address #2</label>
                </div>
                <div class="col-md-9">
                    <p>Burj Khalifa</p>
                </div>
            </div>
            <a href="#" class="btn btn-primary">Edit Profile</a>
        </div>
    </div>
</div>

</div>

{% endblock %}