{% extends 'base.html' %}
{% block title %}view User{% endblock %}

{% block content %}
<div class="jumbotron jumbotron-fluid bgColorSchemeBrown">
	<div class="container">
		<h2 class="display-1">User Information</h2>
        <p class="lead" id=intro>You are viewing <strong> {{userData[2]}} {{userData[3]}}'s</strong> details.</p>
	</div>
</div>
<div class="container pb-5 center-block">
    <div class="card mb-3 bg-light">
        <h3 class="card-header font-weight-bold text-center colorSchemeWhite bgColorSchemeDarkBlue mb-3">{{userData[2]}} {{userData[3]}}</h3>
        <div class="card-body">
            <h5 class="text-muted text-left">User Information</h5>
            <hr />
            <div class="row">
                <!--First Name-->
                <div class="col">
                    <label class ="font-weight-bold text-muted">First Name</label>
                    <p>{{userData[2]}}</p>
                </div>
                <!--Last Name-->
                <div class="col">
                    <label class ="font-weight-bold text-muted">Last Name</label>
                    <p>{{userData[3]}}</p>
                </div>
                <!--Birthdate-->
                <div class="col">
                    <label class ="font-weight-bold text-muted">Date of Birth</label>
                    <p>{{userData[4]}}</p>
                </div>
            </div>
            <h5 class="text-muted text-left pt-3">Contact Information</h5>
            <hr />
            <div class="row">
                <div class="col">
                    <label class="font-weight-bold text-muted">Phone Number</label>
                    <p>{{userData[10]}}</p>
                </div>
                <div class="col">
                    <label class="font-weight-bold text-muted">Email</label>
                    <p>{{userData[11]}}</p>
                </div>
            </div>
            <hr />
            <div class="row">
                <!--City-->
                <div class="col">
                    <label class ="font-weight-bold text-muted">City</label>
                    <p>{{userData[5]}}</p>
                </div>
                <!--Emirate-->
                <div class="col">
                    <label class ="font-weight-bold text-muted">Emirate</label>
                    <p>{{userData[6]}}</p>
                </div>
                <!--PO BOX-->
                <div class="col">
                    <label class ="font-weight-bold text-muted">PO BOX</label>
                    <p>{{userData[7]}}</p>
                </div>
            </div>
            <!--Address Line 1-->
            <div class="row">
                <div class="col-md-3">
                    <label class ="font-weight-bold text-muted">Address #1</label>
                </div>
                <div class="col-md-9">
                    <p>{{userData[8]}}</p>
                </div>
            </div>
            <!--Address Line 1-->
            <div class="row">
                <div class="col-md-3">
                    <label class ="font-weight-bold text-muted">Address #2</label>
                </div>
                <div class="col-md-9">
                    <p>{{userData[9]}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-right">
                    <a href="/orgs" class="btn btn-primary">Back</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}